<h3 class="titulo-productos text-center">Productos destacados</h3>
<div class="lista-productos">
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
    <div class="producto">
        <div class="imagenp">
            <img src="assets/img/01.png" alt="img1" width="100%">
        </div>
        <div class="precio">
            <p>S/. 25.00</p>
        </div>
        <div class="descripcion">
            <p>Collar reflectivo color verde</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>